<section class="animated-section ps ps--theme_default section-active">
  <div class="section-content">
    <div class="page-title">
      <h1>Contact</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 info-block">
        <div class="info-block__item" *ngFor="let item of listInfo">
          <i [class]="item.icon" class="info-block__icon"></i>
          <h4>{{ item.value }}</h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="block-title"><h2>How Can I <span>Help You?</span></h2></div>
        <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="sendEmail()">
          <div class="controls two-columns">
            <div class="fields clearfix">
              <div class="left-column">
                <div class="form-group form-group-with-icon" [ngClass]="{'form-group-focus': contactForm.get('fullName')?.value}">
                  <input type="text" placeholder="" class="form-control" formControlName="fullName"/>
                  <label>Full Name</label>
                </div>

                <div class="form-group form-group-with-icon" [ngClass]="{'form-group-focus': contactForm.get('email')?.value}">
                  <input type="email" placeholder="" class="form-control" formControlName="email" />
                  <label>Email Address</label>
                </div>

                <div class="form-group form-group-with-icon" [ngClass]="{'form-group-focus': contactForm.get('subject')?.value}">
                  <input type="text" placeholder="" class="form-control" formControlName="subject" />
                  <label>Subject</label>
                </div>
              </div>
              <div class="right-column">
                <div class="form-group form-group-with-icon" [ngClass]="{'form-group-focus': contactForm.get('message')?.value}">
                  <textarea class="form-control" placeholder="" rows="7" formControlName="message"></textarea>
                  <label>Message</label>
                </div>
              </div>
            </div>
            <input type="button" class="button btn-send" value="Send message" (click)="sendEmail()">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
