<header class="header mobile-menu-hide">
  <!-- avatar start -->
  <div class="header-content">
    <!-- image -->
    <div class="header-content__photo">
      <img src="../../assets/img/main_photo.jpg" alt="avatar">
    </div>
    <!-- title -->
    <div class="header-content__title">
      <a href="#">
        <h2>Tran Hoang Giang</h2>
      </a>
      <h4>Frontend Developer</h4>
    </div>
  </div>
  <!-- avatar end -->
  <!-- social link start -->
  <div class="social-links">
    <ul>
      <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
      <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#" target="_blank"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
  <!-- social link end -->
  <!-- download cv button -->
  <div class="header-buttons">
    <a href="#" class="btn btn-primary">Download CV</a>
  </div>
  <!-- download cv end -->
  <div class="header__copyrights">
    © 2021 All rights reserved.
  </div>
  <!-- right menu start -->
  <ul class="breezycv-classic-menu main-menu">
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon">
      <a href="#" class="nav-anim">
        <span class="menu-icon"><i class="fa fa-home"></i></span>
        <span class="link-text">Home</span>
      </a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon">
      <a href="#" class="nav-anim">
        <span class="menu-icon"><i class="fa fa-user"></i></span>
        <span class="link-text">About me</span>
      </a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon">
      <a href="#" class="nav-anim">
        <span class="menu-icon"><i class="fa fa-graduation-cap"></i></span>
        <span class="link-text">Resume</span>
      </a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon">
      <a href="#" class="nav-anim">
        <span class="menu-icon"><i class="fa fa-envelope"></i></span>
        <span class="link-text">Contact</span>
      </a>
    </li>
  </ul>
  <!-- right menu end -->
</header>