<div class="lm-animated-bg"></div>
<div class="page-wrapper bg-move-effect">
  <div class="page-content site-content">
    <!-- infor start -->
    <header-info></header-info>
    <!-- navigation start -->
    <arrows-nav></arrows-nav>
    <!-- name when mobile version -->
    <div class="mobile-site-title mobile-visible">
      <a href="#">Tran Hoang Giang</a>
    </div>
    <!-- main content -->
    <div class="content-area">
      <div class="animated-sections">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>